/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  color: #534c64;
  font-weight: 400;
}

.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* herader start */
#header {
  padding: 20px 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  color: #0b0223;
}
.logo h3 {
  font-size: 40px;
  margin-left: 20px;
}
.logo span {
  color: #ff42a5;
}
.nav__link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__link li {
  list-style: none;
  cursor: pointer;
}
.nav__link li:hover {
  transition: 0.3s ease-in-out;
  color: #ff42a5;
}
.nav__link li:last-child {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background-color: rgba(11, 2, 35, 0.1);
  border-radius: 6px;
  cursor: default;
}
.nav__link li:last-child .social {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav__link li:last-child .social a {
  color: #3c354f;
}
.nav__link li:last-child .social a:hover {
  color: #ff42a5;
}
/* herader end */

/* hero start */
#hero {
  padding: 20px 0;
  position: relative;
}
#hero::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../assets/images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}
.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__text {
  flex: 1;
}
.hero__text h3 {
  color: #0b0223;
  font-size: 46px;
  font-weight: 500;
  text-transform: uppercase;
}
.hero__text h1 {
  font-size: 100px;
  font-weight: 900;
  line-height: 90px;
  background: linear-gradient(
    180deg,
    rgba(249, 72, 178, 1) 0%,
    rgba(135, 88, 241, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__text__point {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero__text__point .bullet__point {
  display: flex;
  align-items: center;
  gap: 14px;
  column-gap: 20px;
}
.hero__btn {
  display: flex;
  gap: 20px;
  align-items: center;
}
.btn__primary {
  display: inline-block;
  background-color: #ff42a5;
  padding: 14px 20px;
  border-radius: 40px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.hero__btn .btn__secondary {
  background-color: #4ec5f7;
}

.hero__img {
  flex: 1;
}
.hero__img img {
  width: 100%;
}

/* hero end */

/* gammer banner start */
#banner {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(255, 66, 165, 0.03);
}
.banner__content {
  display: flex;
  align-items: center;
}
.banner__img {
  flex: 3;
}
.banner__img img {
  width: 100%;
}
.banner__text {
  flex: 2;
  text-align: right;
}
.section__text h2 {
  font-size: 48px;
  font-weight: 700;
}
.section__text p {
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.purpose {
  margin-top: 30px;
}
.purpose span {
  font-size: 22px;
  font-weight: 45px;
}
.purpose h4 {
  font-size: 30px;
  font-weight: 45px;
  font-weight: 700;
}
/* gammer banner end */

/* vidio start */
#vidio {
  padding: 60px 0;
}
.vidio__text {
  text-align: center;
}

.vidio__text .section__text {
  width: 60%;
  margin: auto;
}
.vidio__text .section__text span {
  background: linear-gradient(
    180deg,
    rgba(249, 72, 178, 1) 0%,
    rgba(135, 88, 241, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vidio__content {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.vidio__item:hover .vidio__thumb::after {
  content: "";
  position: absolute;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  border: 3px solid rgba(255, 66, 165, 1);
}
.vidio__item:hover .play__btn {
  display: block;
  transition: 0.4s ease;
}
.vidio__item a {
  text-decoration: none;
}
.vidio__thumb {
  position: relative;
  margin: 0;
  padding: 0;
  /* height: 400px; */
}
.vidio__item img {
  width: 100%;
  position: relative;
}
.play__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
  display: none;
  transition: 0.4s ease;
}
.play__btn i {
  font-size: 48px;
  color: #ffffff;
}
.play__btn h6 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 66, 165, 1);
}

.vidio__item p {
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  color: #534c64;
}
/* vidio end */

/* play banner start */
#play__banner {
  padding-top: 60px;
  padding-bottom: 60px;
}
.play__instant {
  display: flex;
  align-items: center;
}
.play__text {
  flex: 1;
  text-align: right;
  margin: 0 30px;
  color: #0b0223;
}
.play__text span {
  background: linear-gradient(
    180deg,
    rgba(249, 72, 178, 1) 0%,
    rgba(135, 88, 241, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play__img {
  flex: 1;
}
.play__img img {
  width: 100%;
}
.play__games {
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.play__games .play__text {
  text-align: left;
}
/* play banner end */

/* career start */
#career {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff42a5;
  position: relative;
  z-index: 1;
}
#career::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-image: url(../assets/images/Vector\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
}
.career__content {
  display: flex;
  align-items: center;
}
.career__text {
  flex: 1;
  color: #ffffff;
  padding-right: 20px;
}
.career__info {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.career__info__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.career__btn {
  color: #ff42a5;
  background: #ffffff;
}
.career__img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.career__img img {
  width: 100%;
}
/* career end */

/* category start */
#category {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(255, 66, 165, 0.03);
}
.category__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.category__item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 8px;
  border-radius: 50px;
  border: 1px solid transparent;
  color: #0b0223;
  transition: 0.2s ease-in;
}

.category__item:hover {
  border: 1px solid #ff42a5;
  color: #ff42a5;
  transition: 0.2s ease-out;
}
.category__img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.category__img img {
  width: 100%;
  height: auto;
}
.category__name {
  font-size: 20px;
}
/* category end */

/* footer start */
#footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(11, 2, 35, 1);
}
.footer__content {
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.footer__nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}
.footer__social a {
  font-size: 40px;
}
.footer__nav a:hover {
  color: #ff42a5;
  transition: 0.2s ease-in-out;
}
.footer__logo h3 {
  color: #ffffff;
}
.footer__policy a,
.footer__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}
/* footer end */

/* responsive css */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  .hero__text h3 {
    font-size: 40px;
  }
  .hero__text h1 {
    font-size: 60px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .nav__link {
    flex-direction: column;
  }
  .section__text {
    width: 100% !important;
  }
  .logo h3 {
    font-size: 30px;
  }
  .vidio__content {
    grid-template-columns: 100% !important;
  }
  .career__info__item p {
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #hero::before {
    background-image: unset;
  }
  .hero__content {
    flex-direction: column-reverse;
  }
  .hero__text {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(140, 87, 238, 0.05);
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .vidio__content {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .play__instant,
  .play__games {
    flex-direction: column;
  }
  .career__content {
    gap: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 900px) {
  .header__content {
    flex-direction: column;
    gap: 20px;
  }
  .vidio__content {
    gap: 10px;
  }
  .banner__content {
    flex-direction: column;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1094px) {
  #career::before {
    background-image: unset;
  }
  .career__content {
    flex-direction: column;
  }
}
/* responsive css */
